<#@ template language="C#" HostSpecific="True" #>
<#@ output extension=".sql" #>
<# 
ZippyT4Host host = (ZippyT4Host)(Host);
Project project = host.Project;

foreach (Table table in project.Tables) {

 WriteLine("truncate table ["+table.Name+"];");
 WriteLine("");
 
}
#>